{% extends "classroom/basepa.html" %}
{% load staticfiles %}
    {% block titled %}
        {{ object.titre }}
    {% endblock titled %}
{% block content %}

<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Single Course Page</h1>
            </div>
            <div class="col-md-6 text-right">
            <div class="bread">
            <ol class="breadcrumb">
                <li><a href="/">Acceuil</a></li>
                <li><a href="#">Cours</a></li>
                <li class="active">Single Course Page</li>
            </ol>
            </div>
        </div>
    </div>
</div>
</section>

<section class="white section">
    <div class="container">
        <div class="row">
            <div id="course-left-sidebar" class="col-md-4">
                <div class="course-image-widget">
                <img src="upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="" class="img-responsive">
                </div>
                <div class="course-meta">
                    <p class="course-category">Cours : <a href="course-list.html">{{object.titre}}</a></p>
                    <hr>
                    <p class="course-student">modules : {{course.modules.count}} module(s) </p>
                    <hr>
                    <p class="course-instructors">Instructor : <a href="#" title=""><img src="{{course.prof.profile.photo.url}}" class="img-circle" alt="Photo"> {{ course.prof.username }}</a></p>
                </div>
            {% if request.user.is_authenticated and course.modules.count > 0%}
            <div class="course-button">
            <form action="{% url 'students:student_enroll_course' %}" method="post">
                {{ enroll_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-block" value="Suivez ce cours">
            </form>
            </div>
            {% elif request.user.is_authenticated and course.modules.count == 0 %}
                <p class=" text-xs p-3">En Cours..</p>
            {% else %}
                <div class="course-button">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">
                        Inscrire a ce cours
                    </a>
                </div>
            {% endif %}
    </div>
<div id="course-content" class="col-md-8">
<div class="course-description">
{% if request.user.is_authenticated and course.modules.count == 0 %}
<small>Statut du cours: <span>vous etre entrain de suive ce cours</span> </small>
{% else %}
<small>Statut du cours: <span>Inscrire au plus vite</span> </small>
{% endif %}
<!-- <small>Prix du cours: <span>$21.00</span> </small> -->
<h3 class="course-title">{{ object.titre }}</h3>
<p>{{ object.description|linebreaks }}</p>
</div>
<div class="course-table">
<h4>Leçons du cours</h4>
<table class="table">
<thead>
<tr>
<th>Type</th>
<th>nom du module</th>
<th>Status</th>
</tr>
</thead>
        <tbody>
        {% if course.modules.count > 0 %}
        {% for module in course.modules.all %}
        <tr>
            <td><i class="fa fa-play-circle"></i></td>
                <td><a href="#">{{ module.titre }}</a></td>
            <td><i class="fa fa-check"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
</table>
</div>
<hr class="invis">
<div id="reviews" class="feedbacks">
<p>
<a class="btn btn-default btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Que disent nos compagnons? (3 Message(s))
</a>
</p>
<div class="collapse" id="collapseExample">
<div class="well">
<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png" alt="Generic placeholder image">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">John DOE</h4>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png" alt="Generic placeholder image">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">Amanda FOXOE</h4>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png" alt="Generic placeholder image">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">Mark BOBS</h4>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
</div>
</div>
</div>
</div>
</div>
<div class="other-courses">
<img src="images/xothers.png.pagespeed.ic.BLyi2PaMRC.png" alt="" class="">
</div>
</div>
</div>
<hr class="invis">
<div id="owl-featured" class="owl-custom">
<div class="owl-featured">
<div class="shop-item-list entry">
<div class="">
<img src="upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="">
<div class="magnifier">
</div>
</div>
<div class="shop-item-title clearfix">
<h4><a href="course-single.html">Learn Web Design & Development</a></h4>
<div class="shopmeta">
<span class="pull-left">12 Student</span>
<div class="rating pull-right">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
<div class="visible-buttons">
<a title="Add to Cart" href="page-shop-cart.html"><span class="fa fa-cart-arrow-down"></span></a>
<a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
</div>
</div>
</div>
<div class="owl-featured">
<div class="shop-item-list entry">
<div class="">
<img src="upload/xcourse_02.png.pagespeed.ic.PL7Wu2UcSB.png" alt="">
<div class="magnifier">
</div>
</div>
<div class="shop-item-title clearfix">
<h4><a href="course-single.html">Graphic Design & Logo Mockups Course</a></h4>
<div class="shopmeta">
<span class="pull-left">21 Student</span>
<div class="rating pull-right">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
</div>
</div>
<div class="visible-buttons">
<a title="Add to Cart" href="page-shop-cart.html"><span class="fa fa-cart-arrow-down"></span></a>
<a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
</div>
</div>
</div>
<div class="owl-featured">
<div class="shop-item-list entry">
<div class="">
<img src="upload/xcourse_03.png.pagespeed.ic.8e1MyY5M7i.png" alt="">
<div class="magnifier">
</div>
</div>
<div class="shop-item-title clearfix">
<h4><a href="course-single.html">Social Media Network & Marketing</a></h4>
<div class="shopmeta">
<span class="pull-left">98 Student</span>
<div class="rating pull-right">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
</div>
</div>
<div class="visible-buttons">
<a title="Add to Cart" href="page-shop-cart.html"><span class="fa fa-cart-arrow-down"></span></a>
<a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
</div>
</div>
</div>
<div class="owl-featured">
<div class="shop-item-list entry">
<div class="">
<img src="upload/xcourse_04.png.pagespeed.ic.2rIKmUwjA7.png" alt="">
<div class="magnifier">
</div>
</div>
<div class="shop-item-title clearfix">
<h4><a href="course-single.html">WordPress Blogging, Tumblr and Blogger</a></h4>
<div class="shopmeta">
<span class="pull-left">98 Student</span>
<div class="rating pull-right">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
</div>
</div>
<div class="visible-buttons">
<a title="Add to Cart" href="page-shop-cart.html"><span class="fa fa-cart-arrow-down"></span></a>
<a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock content %}