{% extends 'classroom/basepa.html' %}
{% block titled %}La-Belle-Lune | Blog et actualités{% endblock titled %}
{% load static %}

{% block content %}
<section class="grey section">
<div class="container">
<div class="row">
<div id="content" class="col-md-8 col-sm-8 col-xs-12">
<div class="blog-wrapper">
<div class="row second-bread">
<div class="col-md-6 text-left">
<h1>Blog et actualités</h1>
</div>
<div class="col-md-6 text-right">
<div class="bread">
<ol class="breadcrumb">
<li><a href="/">Acceuil</a></li>
<li class="active">Blog</li>
</ol>
</div>
</div>
</div>
</div>
{% for post in posts %}
<div class="blog-wrapper">
<div class="blog-title">
<a class="category_title" href="#" title="">School-life</a>
<h2><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h2>
<div class="post-meta">
<span>
<i class="fa fa-user"></i>
<a href="#">{{ post.author }}</a>
</span>
<span>
<i class="fa fa-tag"></i>
<a href="#">Galleries</a>
</span>
<span>
<i class="fa fa-comments"></i>
<a href="#">{{ post.comments.count }} Comment(s)</a>
</span>
<span>
<i class="fa fa-eye"></i>
<a href="#">123 Views</a>
</span>
</div>
</div>
<div class="blog-image">
<a href="{{ post.get_absolute_url }}" title="">
<img src="{{ post.post_logo.url }}" alt="" class="img-responsive">
</a>
</div>
<div class="blog-desc">
<div class="post-date">
<span class="month">{{ post.created_on|timesince }}</span>
</div>
<p>{{ post.content|truncatewords:25|linebreaks }}</p>
<a href="{{ post.get_absolute_url }}" class="readmore">Lire Plus</a>
</div>
</div>
{% endfor %}
<hr class="invis">
<nav class="text-center">
<ul class="pagination">
<li>
<a href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li>
<a href="#" aria-label="Next">
<span aria-hidden="true">&raquo;</span>
</a>
</li>
</ul>
</nav>
</div>
<div id="sidebar" class="col-md-4 col-sm-4 col-xs-12">
<div class="widget">
<div class="searchform">
<form>
<input type="text" class="form-control" placeholder="What you are looking for?">
</form>
</div>
</div>
<div class="widget">
<div class="widget-title">
<h4>Subscribe Us</h4>
<hr>
</div>
<div class="newsletter">
<p>Subscribe to our weekly Newsletter and stay tuned and get more freebies.</p>
<form>
<input type="text" class="form-control" placeholder="Enter your email here...">
<input type="submit" value="Subscribe Now!" class="btn btn-primary btn-block"/>
</form>
</div>
</div>
<div class="widget">
<div class="widget-title">
<h4>Popular Courses</h4>
<hr>
</div>
<ul class="popular-courses">
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_01.png.pagespeed.ic.2iuJZT3CaV.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_02.png.pagespeed.ic.c6RThoxSWC.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_04.png.pagespeed.ic.NGi9jRXTXk.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_05.png.pagespeed.ic.2iuJZT3CaV.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_06.png.pagespeed.ic.o2Uniwq-y5.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_07.png.pagespeed.ic.H-fRTeeP8u.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_08.png.pagespeed.ic.76ek5JLaEY.png' %}" alt=""></a>
</li>
<li>
<a href="single-course.html" title=""><img class="img-thumbnail" src="{% static 'classroom/upload/xservice_09.png.pagespeed.ic.FJcG938KC-.png' %}" alt=""></a>
</li>
</ul>
</div>
<div class="widget">
<div class="widget-title">
<h4>Recent Tweets</h4>
<hr>
</div>
<div class="twitter-widget">
<ul class="latest-tweets">
<li>
<p><a href="#" title="">@Mark</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
<span>2 hours ago</span>
</li>
<li>
<p><a href="#" title=""></a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
<span>2 hours ago</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}