{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="shortcut icon" href="{% static 'classroom/images/favicon.ico" type="image/x-icon' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/rs-plugin/css/settings.css' %}" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/font-awesome.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/css/menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/css/carousel.slider.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/css/carousel.press.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/css/carousel2.press.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/css/carousel.page.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/style.css' %}"/>
</head>