<h2>Quizzes</h2>
<p class="text-muted">
  Classe:{% for subject in user.student.classes.all %} {{ subject.get_html_badge }}{% endfor %}
  <!-- <a href="{% url 'students:student_classes' %}"><small>(modifier classes)</small></a> -->
</p>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students:quiz_list' %}">Nouveauter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students:taken_quiz_list' %}">Scores</a>
  </li>
</ul>
